@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


html,body
{

    height:100%;

    background-color: rgb(19, 1, 30);
}

#banner
{
    position:fixed;
    z-index: 2;
    display:flex;
    align-items: left;
    justify-content: left;
    top: 0;
    left: 0;
    width: 100%;
    height:50px;
    background-color: rgb(41, 3, 58);
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 236, 192);
    font-size: 15px;
}

#banner img
{
    height:100%;
}

#sidebar
{
height: 100%;
width: 160px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #190116;
overflow-x: hidden;
padding-top: 50px;
font-family: 'Montserrat', sans-serif;
    color: rgb(235, 236, 192);
}

#main
{
    width:100%;
    margin-left: 152px; /* Same as the width of the sidenav */
    margin-top: 50px;
    font-size: 28px; /* Increased text to enable scrolling */
    color: rgb(235, 236, 192);
    height:100%;
}

#chatHeader
{
    height:10%;
    width:100%;
    background-color: rgb(59, 5, 81);
    color:white;
    position: fixed;
}

#chatName
{
    padding-top: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat
{
    padding-top: 6%;
    font-size: 28px; /* Increased text to enable scrolling */
    height:100%;
}

#messageEnter
{
    padding-left: 0.5%;
    top:90%;
    height:auto;
    width:100%;
    background-color: rgb(125, 11, 171);
    color:white;
    position: fixed;
    padding-top: 10px;
    text-align: left;
    overflow: auto;
}